<ion-header>
  <ion-navbar color="orange">
    <button ion-button menuToggle class="btn-menus">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>الرئيسية</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 style=" text-align: center;" *ngIf="showFirebaseUser">{{FireBaseUser}}</h3>
  <h3 style=" text-align: center;" *ngIf="showFacebookUser">{{FacebokUser}}</h3>
  <div class="backimg">

    <p>منتديات التدريب على الاسعافات االاولية</p>

  </div>

  <div class="con-call-list">

    <div class="call-list">
      <img src="../../assets/imgs/hospital.svg" alt="">
      <div class="con-info-call">
        <h4> الهلال الأحمر العراقي<br>
          <h6> 0770 674 0075 </h6>
        </h4>
      </div>
      <img class="callll" (click)="redcross1()" src="../../assets/imgs/Phone-1.png" alt="">
    </div>
    <div class="call-list">
      <img src="../../assets/imgs/hospital.svg" alt="">

      <div class="con-info-call">
        <h4> الدفاع المدني العراقي <br>
          <h6>0770 778 9533</h6>
        </h4>
      </div>
      <img class="callll" (click)="redcross2()" src="../../assets/imgs/Phone-1.png" alt="">
    </div>
 
  </div>
 
  <div class="con-loading" *ngIf="Network">

    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <h2>الرجاء الانتضار</h2>

  </div> 
  <div class="con-call-list" *ngFor="let Number of ConfirmedSmallStationsArray">
 
    <div class="call-list">
      <img src="../../assets/imgs/hospital.svg" alt="">

      <div class="con-info-call">
      <h4> {{Number[1]['orginaztionsName']}} <br>
        <h6> {{Number[1]['orginaztionsNumber']}} </h6>
      </h4>
    </div>

      <img class="callll" (click)="Call(Number[1]['orginaztionsNumber'])" src="../../assets/imgs/Phone-1.png" alt="">
    </div>

  </div>
 
 
</ion-content>