page-feed-back {

   .feed{ 
    border-radius: 7px 7px 4px 4px;
    -webkit-box-shadow: inset 0px 1px 1px 0px #03A9F4;
    box-shadow: inset 0px 1px 0px 0px #a9a9a9;
    border: none;
    outline: none;
    min-height: 250px;
    background-color: #e6e6e6; 
    width: 95%;
    display: block;
    margin: 10px auto;
    padding: 5px; 
    direction: rtl;
    position: relative;
    text-align: justify;
    }


    

    p{
        margin: 100px;
        text-align: center;
    }

    .sendBtn{
        width: 60%;
        background: #2699fb;
        padding: 15px 0;
        border-radius: 100px;
        color: #fff;
        display: block;
        margin: 0 auto;
    }

    .goto{
        display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #2699fb;
    background: none;
    border: 1px solid #2699fb;
    border-radius: 3px;
    }

     
    .login-form{
        text-align: right;
   }
   .input{
       width: 100%;
      
       border: none;
       border-bottom: 1px solid #2699fb;
       font-size: 17px;
       font-family: 'logoFont';
   }

   .lable{
       display: block;
       margin-top: 10px;
     
       color: #7d7d7d;
   }
   

   .logo{
       width: 100px;
       height: 100px;
       display:block;
       margin: 0 auto;
       border-radius: 100%;
   }

   .login{
       display: block;
       margin: 10px auto;
       width: 70%;
       padding: 12px;
       border-radius: 26px;
       background-color: #2699fb;
       color: #fff;
   }



   .log-soctial{
       display: inline-block;
       width: 50px;
       height: 50px;
       margin: 5px;
   }

   .con-img-log{
       text-align: center
   }

   p{
       text-align: center;
       margin-top: 50px;
   }


}


